<div id="webchat-bubble">
	<div class="pwc-round pwc-hollow text-center">
		<button id="pwc-popup-btn" class="btn btn-warning pwc-pop-btn">
			<i class="glyphicon glyphicon-comment"></i>
		</button>
	</div>
	<div class="pwc-popup-box" id="pwc-chat-box">
		<div class="pwc-chat-window">
			<div class="pwc-top-menu">
				<div class="buttons">
					<div id="pwc-chat-popup-dismiss" class="button dismiss pull-right" data-widget="remove">
						<i class="fa fa-times icon-text"></i>
					</div>
					<div id="pwc-chat-popup-hide" class="button minimize pull-right">
						<i class="fa fa-minus icon-text"></i>
					</div>
				</div>
				<div class="pwc-title">Chat</div>
			</div>
			<ul class="pwc-messages"></ul>
		</div>
		<div id="pwc-user-in-session"></div>
		<div class="pwc-popup-messages-footer">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-10">
						<textarea id="pwc-message" placeholder="Type a message..." rows="10" name="message"></textarea>
					</div>
					<div class="col-xs-2">
						<button id="pwc-send" class="btn btn-success"><i class="fa fa-send font-xl"></i></button>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10">
						<hr class="margin-1"><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>