/**
 * Created by olatunji on 8/2/17.
 */

body
{
    font-family: 'Open Sans', sans-serif;
}

.pwc-popup-box {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 0;
    display: none;
    height: 500px;
    position: fixed;
    right: 70px;
    width: 500px;
    font-family: 'Open Sans', sans-serif;
}

.pwc-pop-btn{
    height: 80px !important;
    width: 80px !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: xx-large;
    border-radius: 50%;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.pwc-round.pwc-hollow {
    margin: 40px 0 0;
}

.pwc-round.pwc-hollow a {
    border: 2px solid #ff6701;
    border-radius: 35px;
    color: red;
    color: #ff6701;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.pwc-round.pwc-hollow a:hover {
    border: 2px solid #000;
    border-radius: 35px;
    color: red;
    color: #000;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}

.pwc-popup-box-on {
    display: block !important;

    bottom: 20px;
    right: 20px;
}

.pwc-popup-messages-footer textarea {
    /*border-bottom: 1px solid #b2b2b2 !important;*/
    height: 60px !important;
    /*margin: 5px;*/
    margin: 3px 0 3px 0 !important;
    /*padding: 2px !important;*/
    border: medium none;
    width: 100% !important;
}

.pwc-popup-messages-footer #pwc-send {
    height: 60px !important;
    width: 60px !important;
    border-radius: 50%;
}

.pwc-popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 5px;
}
.pwc-popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}

/*Nice Chat*/
.pwc-chat-window {
    /*position: absolute;*/
    /*width: calc(100% - 20px);*/
    width: 100%;
    max-width: 500px;
    height: auto;
    /*height: 500px;*/
    /*border-radius: 10px;*/
    background-color: #fff;
    left: 50%;
    top: 50%;
    /*transform: translateX(-50%) translateY(-50%);*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

.pwc-top-menu {
    background-color: #fff;
    width: 100%;
    padding: 10px 0 10px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.pwc-top-menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
}

.pwc-top-menu .buttons .button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px 0 5px;
    position: relative;
}

.pwc-top-menu .buttons .button .icon-text{
    margin: 5px 4px 5px 4px;
    position: absolute;
    font-size: 55%;
}

.pwc-top-menu .buttons .button.dismiss {
    background-color: #f5886e;
}

.pwc-top-menu .buttons .button.minimize {
    background-color: #fdbf68;
}

.pwc-top-menu .buttons .button.maximize {
    background-color: #a3d063;
}

.pwc-top-menu .pwc-title {
    text-align: center;
    color: #bcbdc0;
    font-size: 15px;
}

.pwc-messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 360px;
    /*overflow: scroll;*/
    overflow-y: scroll;
}

.pwc-messages .pwc-message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}

.pwc-messages .pwc-message.left .pwc-avatar {
    background-color: #f5886e;
    float: left;
}

.pwc-messages .pwc-message.left .pwc-text-wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
}

.pwc-messages .pwc-message.left .pwc-text-wrapper::after,
.pwc-messages .pwc-message.left .pwc-text-wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}

.pwc-messages .pwc-message.left .pwc-msg-head {
    color: #c48843;
}

.pwc-messages .pwc-message.right .pwc-avatar {
    background-color: #1b95e0;
    float: right;
}

.pwc-messages .pwc-message.right .pwc-text-wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}

.pwc-messages .pwc-message.right .pwc-text-wrapper::after,
.pwc-messages .pwc-message.right .pwc-text-wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}

.pwc-messages .pwc-message.right .pwc-msg-head {
    color: #45829b;
}

.pwc-messages .pwc-message.appeared {
    opacity: 1;
}

.pwc-messages .pwc-message .pwc-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.pwc-messages .pwc-message .pwc-text-wrapper {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.pwc-messages .pwc-message .pwc-text-wrapper::after,
.pwc-messages .pwc-message .pwc-text-wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.pwc-messages .pwc-message .pwc-text-wrapper::after {
    border-width: 13px;
    margin-top: 0px;
}

.pwc-messages .pwc-message .pwc-text-wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.pwc-messages .pwc-message .pwc-text-wrapper .text {
    font-size: 15px;
    font-weight: 300;
    overflow-wrap: break-word;
}


